.btn-primary {
  display: inline-block;
  background-color: #1edd88;
  padding: 16px 36px;
  border-radius: 50px;
  color: whitesmoke;
  border: 2px #1edd88 solid;
}
.btn-primary:hover {
  background-color: black;
}
